{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/recipe_list.css' %}">
{% endblock %}

{% block content %}
    <div class="body">
        <div class="headline">
            <h1>みんなのレシピ</h1>
        </div>
        <div class="recipe_contents">
            {% for recipe in recipes %}
                <div class="recipe_item">
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    {% endif %}
                    <h2>
                        <a href="{% url 'myapp:recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
                    </h2>
                    <p>調理時間：{{ recipe.cook_time}}分</p>
                    
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}