.headline {
    font-size: 24px;
    text-align: center;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recipe_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.recipe_item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.recipe_item img {
    width: 100%;
    height: auto;
}